body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}
/* Стилизация элементов управления */
#audioPlayer::-webkit-media-controls-panel {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 10px;
}

#audioPlayer::-webkit-media-controls-play-button {
    background-color: #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#audioPlayer::-webkit-media-controls-pause-button {
    background-color: #dc3545;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Интерактивность */
#audioPlayer::-webkit-media-controls-play-button:hover {
    background-color: #0056b3;
}

#audioPlayer::-webkit-media-controls-pause-button:hover {
    background-color: #c82333;
}


header {
    text-align: center;
    padding: 40px 0;
}

header h1 {
    font-size: 48px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

nav {
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ffd700;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #ffd700;
    text-align: center;
    font-size: 36px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

